<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv='cache-control' content='no-cache'>
		<meta http-equiv='expires' content='0'>
		<meta http-equiv='pragma' content='no-cache'>
		<link href="/.httpServe/markdown/css/github.min.css" rel="stylesheet">
		<link href="/.httpServe/markdown/css/highlight.min.css" rel="stylesheet">
		<link href="{{.css}}?r={{.rand}}" rel="stylesheet">

		<script src="/.httpServe/markdown/js/highlight.min.js"></script>
		<script src="/.httpServe/markdown/js/viz.js"></script>
		<style>
			body {
				margin: 20px 5%;
			}
		</style>
	</head>
	<body class="markdown-body">
		{{.outputHTML}}
	<script>
		hljs.initHighlightingOnLoad();
		//////////////////////
		// Process viz
		////////////////
		elList = document.querySelectorAll("code.language-dotg,code.dotg")
		console.log("Processing viz:", elList)
		for (var i = 0; i < elList.length; i++) {
			var text = elList[i].innerText
			var res = Viz(text)
			var imgRes = Viz.svgXmlToPngImageElement(res)

			var divEl = document.createElement("div")
			divEl.appendChild(imgRes)
			// get <pre> node from previous converter
			elList[i].parentNode.parentNode.replaceChild(divEl, elList[i].parentNode)
			//elList[i].innerHTML = res
		}


	</script>
	<script src="/.httpServe/js/watcher.js"></script>
	</body>
</html>
